#home{
    background: burlywood;
    width: 100%;
    height: 150px;
    position: relative;
    display: table;
}
.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.franja{
    background: #fff436;
    height: 30px;    
}
th,tr,td{
    border: 1px solid #343a40;
}
.scrollbable{
    margin-top: 10px;
    height: 590px;
    overflow: scroll;
}
.margen{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.factura{
    
}