<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <script src="js/angular.js"></script>
    <script src="js/index.js"></script>


</head>

<body ng-app="index" ng-controller="indexController" ng-init="Customers=[]">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="#">ConverterBooks!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" placeholder="Archivo Seleccionado" aria-label="Search"
                    style="width:900px;" type="file" ngf-select="SelectFile($file)">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click="Upload()">Abrir</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Cargar <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Limpiar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cuentas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" ng-click="crearExcel()">Action</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="" id="home">
        <div class="landing-text">
            <h1>Comprobante</h1>
        </div>
    </div>
    
    <div class="container">
        <div id="factura">

        
            <div class="row  p-1 mt-5" style="border:solid 1px black; border-radius: 5px;" >
                    <div class="col-3">
                        <p>RONALD ARCE ROMERO</p>
                        <p>SANTA CRUZ-Bolivia</p>
                    </div>
                    <div class="col-6">
                        <h4>COMPROBANTE DE INGRESO</h4>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    Fecha
                                </div>
                                <div class="row">
                                    {{listaDatos[0].A|date:'d'}}|{{listaDatos[0].A|date:'M'}}|{{listaDatos[0].A|date:'yyyy'}}
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    T.C.
                                </div>
                                <div class="row">
                                    6.90000
                                </div>
                            </div>
                        </div>
                        <div class="row text-center mt-1" style="border:solid 1px black; border-radius: 5px;">
                            N° 1
                        </div>
                    </div>
        
                </div>
                <!-- DETALLE CLIENTE -->
                <div class="row mt-1" style="border:solid 1px black; border-radius: 5px;">
                   <div class="col-2">
                        <h6>LUGAR Y FECHA</h6>
                   </div>
                   <div class="col-10">
                        :SANTA CRUZ, {{UsarMomentLiteralEs(listaDatos[0].A)}}
                        <!-- :SANTA CRUZ, {{listaDatos[0].A}}  -->
                        <!-- :{{listaDatos[0].A | date:"'Santa Cruz ,' dd 'de' MM yyyy"}}  -->
                        <!-- :{{listaDatos[0].A|date:"medium"}} -->
                        <!-- : SANTA CRUS ,6 de Febrero 2020 -->
                   </div>
                   <div class="col-2">
                        <h6>RECEBIDO DE</h6>
                    </div>
                    <div class="col-10">
                        : Integro S.A.
                    </div>
                    <div class="col-2">
                        <h6>CONCEPTO</h6>
                   </div>
                   <div class="col-10">
                       : fact 1606 venta de malla de futbol a Interagro S.A. en efectivo
                   </div>
                </div>
                <!-- DETALLE FACTURA -->
                <div class="row mt-1">
                    <table class="table striped display product-overview ">
        
                            <tr>
                              <th rowspan="2">CODIGO</th>
                              <th rowspan="2">NOMBRE  CUENTA</th>
                              <th colspan="2">BOLIVIANOS</th>
                              <th colspan="2">DOLARES</th>
                              
                            </tr>
                            <tr>
                              
                              <th>DEBE</th>
                              <th>HABER</th>
                              <th>DEBE</th>
                              <th>HABER</th>
                            </tr>
                            
                            <tr style="border-bottom: none!important; border-top: none;">
                              <td></td>
                              <td>
                                 <p ng-repeat="item in listaDatos[0].R">{{item}}</p>
                              </td>
                              <td>IMPORTtola - creditofiscal <br /> {{listaDatos[0].J  - listaDatos[0].O}}<br /> {{listaDatos[0].O}}</td>
                              <td><br />{{listaDatos[0].J*0.03}}</td>
                              <td></td>
                              <td></td>
                              
                            </tr>
                            <tr style="border-bottom: none!important; border-top: none;">
                                    <td></td>
                                    <td></td>
                                    <td>147</td>
                                    <td>1537</td>
                                    <td>69</td>
                                    <td>15870</td>
                                    
                                  </tr>
        
                            <tr>
                                    <td colspan="2">totales</td>
                                    
                                    <td >147</td>
                                    <td >1537</td>
                                    <td >69</td>
                                    <td >15870</td>
                                    
                            </tr>
                          </table>
                </div>
                <div class="row mt-1" style="border:solid 1px black;">
                    <div class="col-12">
                            <p><strong>SON:</strong> ciento Ocenta 25/100 boliviasnos</p>  
                    </div>
                    <div class="col-12">
                            <p><strong>SON:</strong> ciento Ocenta 25/100 Dolares Americanos</p>  
                    </div>
                    
                </div>
        <!-- FIRMAS -->
                <div class="row mt-1" style="border:solid 1px black;">
                    <div class="col-3">
                        <div class="row">
                            FIRMA
                        </div>
                        <div class="row">
                            PREPARADO POR
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            FIRMA
                        </div>
                        <div class="row">
                            PREPARADO POR
                        </div>
                    </div>
                    <div class="col-3">
                            <div class="row">
                                FIRMA
                            </div>
                            <div class="row">
                                
                            </div>
                    </div>
                    <div class="col-3">
                            <div class="row">
                                FIRMA
                            </div>
                            <div class="row">
                                
                            </div>
                    </div>
                </div>        
        </div>
    </div>


</body>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
</html>